<div class="wrap">
  <div class="nav">
    <img src="assets/degree/theme/white/main_logo.png" class="logo">
    <div class="logoyear">
      2018
    </div>
    <div class="category">
      <div class="item">
        <div class="active">그래픽디자인<br>Graphic Design</div>
      </div>
      <div class="item">
        <div class="no-active">그래픽서비스 디자인<br>Graphic Service Design</div>
      </div>
      <div class="item">
        <div class="no-active">그래픽서비스 디자인<br>Graphic Service Design</div>
      </div>
      <div class="item">
        <div class="no-active">그래픽서비스 디자인<br>Graphic Service Design</div>
      </div>
      <div class="item">
        <div class="no-active">그래픽서비스 디자인<br>Graphic Service Design</div>
      </div>
      <div class="item">
        <div class="no-active">그래픽서비스 디자인<br>Graphic Service Design</div>
      </div>
    </div>
  </div>
  <div class="contents">

  </div>
</div>
