<aside>
    <nav>
        <ul *ngFor="let cafe of cafes">
            <li (click)="changeCafe(cafe.no)">{{cafe.name}}</li>
        </ul>  
    </nav>
</aside>
<div class="full-Background" [ngStyle]="{'background-image': 'url('+img_url+')'}">
    <div (click)="changeImg(-1)" class="arrow-left">
        <img src="assets/king/left-arrow.png" class="arrow">
    </div>
    <div (click)="changeImg(1)" class="arrow-right">
        <img src="assets/king/right-arrow.png" class="arrow">            
    </div>
</div>