<header [class.nav]="!fixed" [class.navscroll]="fixed" (mouseenter) ="fixed=true "  (mouseleave) ="leave()">
  <div class="row">
    <nav class="nav-depth">
      <img src="assets/buzzni/logo.png" class="logo">
      <ul>
        <li style="border-bottom: 3px solid #ffcc30;">HOME</li>
        <li>ABOUT</li>
        <li>CULTURE</li>
        <li>PR</li>
        <li>SERVICE</li>
        <li>PEOPLE</li>
        <li>RECRUIT</li>
        <li>AD</li>
      </ul>
    </nav>
  </div>
</header>

<div id="slide">
  <div class="overlay">
    <video autoplay loop id="video-background" controls muted plays-inline>
      <source src="assets/buzzni/video/service3.mp4" type="video/mp4">
    </video>
  </div> 
  <div class="wrap">
    <div class="row">
      <div class="cont1">데이터 기술로<br>생활에가치를 더하다</div>
      <div class="cont2">업계 1위 모바일 홈쇼핑 포털 서비스 ‘홈쇼핑모아’는 <br>한눈에 모든 홈쇼핑 정보를 모아볼 수 있어<br> 쉽고 편한 모바일 쇼핑 경험을 제공합니다.</div>
      <button class="cont3">홈쇼핑모아 더 알아보기</button>
    </div>
  </div>
</div>

<div id="content">
  <div class="content-row">
    <div class="content-top">
      <img src="assets/buzzni/hsmoa_logo-white@3x.png" style="max-width: 200px;padding:22px 0;">
      <div class="content-txt">
          TV홈쇼핑 편성표,생방송,알람,검색을 한눈에!<br>
          1000만 사용자가 선택한 1등 홈쇼핑 포털 서비스 '홈쇼핑모아'
      </div>
    </div>
    <div class="content-img">
      <div class="content-img-row">
        <div class="cimgtag">
          <img src="assets/buzzni/ic_trophy.png" class="cimg">
          <br>모바일 홈쇼핑
          <br>포털서비스 1위
        </div>
        <div class="cimgtag">
          <img src="assets/buzzni/ic_co-work.png" class="cimg">
          <br>국내 17개 
          <br>홈쇼핑사 제휴
        </div>
        <div class="cimgtag">
          <img src="assets/buzzni/ic_mobile.png" class="cimg">
          <br>1000만 
          <br>누적 다운로드
        </div>
        <div class="cimgtag">
          <img src="assets/buzzni/ic_search_big.png" class="cimg">
          <br>우수 검색엔진 
          <br>기반 서비스
        </div>
        <div class="cimgtag">
          <img src="assets/buzzni/ic_user_friendly.png" class="cimg">
          <br>사용자경험 
          <br>중심
        </div>
      </div>
    </div>
    <div class="content-app">
      <img src="assets/buzzni/icon_per.png" class="app_icon">
      <div id="content-slide">
      
      </div>
    </div>
  </div>
</div>

<div id="identity">
  <div class="identity-items">
    <div class="identity-items-cover">
      <div class="identity-text">
        <h3>
          JOY OF <br> GROWTH
        </h3>
        <p>
            성장의 즐거움은 버즈니의 원동력입니다.
        </p>
      </div>
    </div>
    <div class="identity-bg-crop">
      <div class="identity-bg" style="background-image: url('/assets/buzzni/identity/deeplearning.jpg');">
      </div>
    </div>
  </div>
  <div class="identity-items">
    <div class="identity-items-cover">
      <div class="identity-text">
        <h3>
            PEOPLE
        </h3>
        <p>
            버즈니와 함께 성장해나가는 사람들을 소개합니다.
        </p>
      </div>
    </div>
    <div class="identity-bg-crop">
      <div class="identity-bg" style="background-image: url('/assets/buzzni/identity/index_people.jpg');">
      </div>
    </div>
  </div>
  <div class="identity-items">
    <div class="identity-items-cover">
      <div class="identity-text">
        <h3>
            RECRUIT
        </h3>
        <p>
            성장의 즐거움을 함께 할 당신을 기다립니다.
        </p>
      </div>
    </div>
    <div class="identity-bg-crop">
      <div class="identity-bg" style="background-image: url('/assets/buzzni/identity/office11.jpg');">
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="footer-item">
      <div class="f-title">
          ADDRESS
      </div>
      <div class="f-con hover">
          서울특별시 관악구 남부순환로 <br>
          1832 오선빌딩 10,11,12,14층
      </div>
    </div>
    <div class="footer-item">
      <div class="f-title">
          CONTACT
      </div>
      <div class="f-con">
        <div class="hover">
            hello@buzzni.com
        </div>
        <div class="hover">
            02-585-6782
        </div>
      </div>
    </div>
    <div class="footer-item">
      <div class="f-title">
          NEWS
      </div>
      <div class="f-con2">
        <div class="hover">
            IT조선 | [홈쇼핑모아 금주의 인기상품] 고소영 V쿠션·...
        </div>
        <div class="hover">
            아시아경제 | 유통채널 매출 상위권 줄줄이 꿰찬 중...
        </div>
        <div class="hover">
            뉴스1 | "홈쇼핑·T커머스 모바일 방송, '패션·잡
        </div>
      </div>
    </div>
  </div>
</div>