
<div id="fullpage">
  <div class="section">
    <div class="videoFrame">
      <video  autoplay loop muted id="video">
        <source src="/assets/lotte/181017_video.mp4">
      </video>
    </div>
  </div>
  <div class="section">
    <div class="bg bg1">

    </div>
  </div>
  <div class="section">
    <div class="bg bg2">

    </div>
  </div>
  <div class="section">
    <div class="bg bg3">

    </div>
  </div>
  <div class="section">
    <div class="bg">
      last
    </div>
  </div>
</div>


